{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}
{% endblock %}
{% block stylesheets %}{{ parent() }}
{% endblock %}
{% block body %}
    <div id="div1">
    doudou je t'aime !
    </div>
{% endblock %}
{% block javascripts %}{{ parent() }}
{% endblock %}